<!--************************************************************************************************************************************
# Name: Abinash Singh Thagunna
# File Name: addfamilyname.html
#*************************************************************************************************************************************-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Family Name</title>
    <link href="{% static 'bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
     <script src="{% static 'bootstrap/js/jquery.js'  %}" type="text/javascript"></script>
     <script src="{% static 'bootstrap/js/bootstrap.min.js'  %}" type="text/javascript"></script>

  <style>
      #rcorn{
          margin-right: -50%;
          margin-left: 10%;
          margin-top: 10%;
      }
  </style>
</head>
<body class="container" style="background: #73AD21;">
{% if user.is_authenticated %}
    <h4 style="color: #fff;">Welcome {{ user.username }} | <a href="/home/" style="color: #fff; ">Home</a> | <a href="/logout/" style="color: #fff;">Logout</a></h4>
<div id="rcorn">

 {% if messages %}

    {% for message in messages %}
       <p class='alert alert-danger alert-dismissable' style="margin-left: 16%; width: 25%;"> {{ message }}</p>
        {% endfor %}

{% endif %}

<b>Note:</b><i>If Family name is already added, then don't need to add for second time, go directly to <a href="/home/" style="color: #fff;">Homepage</a> Now...</i>
<form class="form-horizontal" role="form" method="post" action="/sirname/">



  <br/><div class="form-group">
    <label class="control-label col-sm-2" style="">Family Last Name:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="familylastname"id="familylastname" placeholder="Family Last Name " required>
    </div>
  </div>

    <div class="form-group">
    <label class="control-label col-sm-2" style="">Enter Tracking Name:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control" name="uniquename"id="uniquename" placeholder="Tracking Name " required>
    </div>
  </div>

<input type="hidden" name="username" value="{{ user.username }}" id="username"/>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-primary">Save Changes</button>
      <a href="/home/" class="btn btn-warning">>>HomePage >></a>
    </div>
  </div>
</form>
    </div>
{% else %}
<a href="/" >Login</a> |
<a href="/register/" >Register</a>
{% endif %}
</div>
<h1>{% block head %}{% endblock %}</h1>
{% block content %}{% endblock %}

<p class='alert alert-info alert-dismissable' style=" margin-top: 25%;"> Copyright &copy;2015 (Abinash Singh Thagunna)  All rights  Reserved | Developed & Designed By: Abinash Singh Thagunna(NCC ID: 00145811)</p>

</body>
</html>