<!--************************************************************************************************************************************
# Name: Abinash Singh Thagunna
# File Name: familytree.html
#*************************************************************************************************************************************-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree Graph</title>
  <link href="{% static 'bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
     <script src="{% static 'bootstrap/js/jquery.js'  %}" type="text/javascript"></script>
  <style>
      /*Now the CSS*/
* {margin: 0; padding: 0;}

.tree ul {
	padding-top: 20px; position: relative;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

.tree li {
	float: left; text-align: center;
	list-style-type: none;
	position: relative;
	padding: 20px 5px 0 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*We will use ::before and ::after to draw the connectors*/

.tree li::before, .tree li::after{
	content: '';
	position: absolute; top: 0; right: 50%;
	border-top: 1px solid #ccc;
	width: 50%; height: 20px;
}
.tree li::after{
	right: auto; left: 50%;
	border-left: 1px solid #ccc;
}

/*We need to remove left-right connectors from elements without
any siblings*/
.tree li:only-child::after, .tree li:only-child::before {
	display: none;
}

/*Remove space from the top of single children*/
.tree li:only-child{ padding-top: 0;}

/*Remove left connector from first child and
right connector from last child*/
.tree li:first-child::before, .tree li:last-child::after{
	border: 0 none;
}
/*Adding back the vertical connector to the last nodes*/
.tree li:last-child::before{
	border-right: 1px solid #ccc;
	border-radius: 0 5px 0 0;
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
}
.tree li:first-child::after{
	border-radius: 5px 0 0 0;
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
}

/*Time to add downward connectors from parents*/
.tree ul ul::before{
	content: '';
	position: absolute; top: 0; left: 50%;
	border-left: 1px solid #ccc;
	width: 0; height: 20px;
}

.tree li a{
	border: 1px solid #ccc;
	padding: 5px 10px;
	text-decoration: none;
	color: #666;
	font-family: arial, verdana, tahoma;
	font-size: 11px;
	display: inline-block;

	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;

	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
}

/*Time for some hover effects*/
/*We will apply the hover effect the the lineage of the element also*/
.tree li a:hover, .tree li a:hover+ul li a {
	background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
}
/*Connector styles on hover*/
.tree li a:hover+ul li::after,
.tree li a:hover+ul li::before,
.tree li a:hover+ul::before,
.tree li a:hover+ul ul::before{
	border-color:  #94a0b4;
}

/*Thats all. I hope you enjoyed it.
Thanks :)*/
  </style>

</head>
<body >
{% if user.is_authenticated %}
<nav id="custom-bootstrap-menu" class="navbar navbar-inverse always-open" style=" color: #fff; ">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color:#fff;">Geneological Tree</a>
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li ><a href="/home/" style="color: #fff; ">Add Member</a>
                </li>
                <li class="active"><a href="/tree/" style="color: #fff; ">Family Tree View</a>
                </li>


                        <li ><a href="/logout/" style="color: #fff; ">Logout</a>    </li>




        </ul>
    </div>
</nav>
        <!---nav--->
     <h4>Welcome {{ user.username }}</h4>
    {% if entrylist %}




<div class="tree container" style="margin-left: 25%; margin-top: 10%; overflow-x: auto;">
	<ul>
		<li>
        {% for grandfather in grandfather %}
			<a href="/treedetail/{{ grandfather.relation|urlencode }}">{{ grandfather.memberfirstname }} (grandfather)</a>
        {% endfor %}
        {% for grandmother in grandmother %}
			<a href="/treedetail/{{ grandmother.relation|urlencode }}">{{ grandmother.memberfirstname }} (grandmother)</a>
        {% endfor %}

			<ul>

				<li>
                    {% for father in father %}
					<a href="/treedetail/{{ father.relation|urlencode }}">{{ father.memberfirstname }}(father)</a>
                    {% endfor %}
                 {% for mother in mother %}
					<a href="/treedetail/{{ mother.relation|urlencode }}">{{ mother.memberfirstname }} (mother)</a>
                {% endfor %}
					<ul>
						<li>
                            {% for me in me %}
							<a href="/treedetail/{{ me.relation|urlencode }}">{{ me.memberfirstname }} (me)</a>
                            {% endfor %}
                           {% for wife in wife %}
							<a href="/treedetail/{{ wife.relation|urlencode }}">{{ wife.memberfirstname }} (wife)</a>
                            {% endfor %}
                        <ul>
                            {% for child in child %}
								<li>
									<a href="/treedetail/{{ child.relation|urlencode }}">{{ child.memberfirstname }} (child)</a>
								</li>
                            {% endfor %}

							</ul>
                         {% for brother in brother %}
                            </li> <li>

							<a href="/treedetail/{{ brother.relation|urlencode }}">{{ brother.memberfirstname }} (brother)</a>
                        {% endfor %}
						</li>

					</ul>


				</li>
				<li>
                     {% for uncle in uncle %}
					<a href="/treedetail/{{ uncle.relation|urlencode }}">{{ uncle.memberfirstname }} (uncle)</a>
                {% endfor %}
{% for aunt in aunt %}
					<a href="/treedetail/{{ aunt.relation|urlencode }}">{{ aunt.memberfirstname }} (aunt)</a>
    {% endfor %}

					<ul>
                        {% for unclechild in unclechild %}
						<li><a href="/treedetail/{{ unclechild.relation|urlencode }}">{{ unclechild.memberfirstname }} (child)</a></li>
                        {% endfor %}
						<!--li>
							<a href="#">Grand Child</a>
							<!--ul>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
								<li>
									<a href="#">Great Grand Child</a>
								</li>
							</ul-->
						<!--/li>
						<!--li><a href="#">Grand Child</a></li-->
					</ul>
				</li>



			</ul>
		</li>
	</ul>
</div>
   {% else %}
<p class='alert alert-info alert-dismissable' style="text-align: center;"><i style="text-align: center;">Unable to show TreeGraph Now!!!</i></p>
        {% endif %}
{% endif %}
{% if park %}
     <table class="table table-responsive table-bordered table-condensed table-stripped table-hovered">
    <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Relation</th>
        <th>Age</th>
        <th>Birth Date</th>
        <th>Death Date</th>
        <th>Caste</th>
        <th>Religion</th>
        <th>Nationality</th>
        <th>Occupation</th>
        <th>Education</th>
        <th>Address</th>
        <th>Contact</th>
    </tr>


{% for park in park %}
    <tr>
        <td>{{ park.memberfirstname }}</td>
        <td>{{ park.membermiddlename }}</td>
        <td>{{ park.memberlastname }}</td>
       <td>{{ park.relation }}</td>
        <td>{{ park.age }}</td>
        <td>{{ park.birthdate }}</td>
        <td>{{ park.deathdate }}</td>
        <td>{{ park.caste }}</td>
        <td>{{ park.religion }}</td>
        <td>{{ park.nationality }}</td>
        <td>{{ park.occupation }}</td>
        <td>{{ park.education }}</td>
        <td>{{ park.address }}</td>
        <td>{{ park.contact }}</td>
    </tr>
{% endfor %}
    </table>
    {% endif %}
<p class='alert alert-success alert-dismissable' style=" margin-top: 10%;"> Copyright &copy;2015 (Abinash Singh Thagunna)  All rights  Reserved | Developed & Designed By: Abinash Singh Thagunna(NCC ID: 00145811)</p>

</body>
</html>