<!--************************************************************************************************************************************
# Name: Abinash Singh Thagunna
# File Name: mainform.html
#*************************************************************************************************************************************-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Member | {% block title %}{% endblock %}</title>

   <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
 <link href="{% static 'bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
     <script src="{% static 'bootstrap/js/jquery.js'  %}" type="text/javascript"></script>
     <script src="{% static 'bootstrap/js/bootstrap.min.js'  %}" type="text/javascript"></script>
</head>
<body>
{% if user.is_authenticated %}
<nav id="custom-bootstrap-menu" class="navbar navbar-inverse always-open" style=" color: #fff; ">
    <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color:#fff;">Geneological Tree</a>
        <button type="button" class="navbar-toggle"
                data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">

            <li class="active"><a href="/home/" style="color: #fff; ">Add Member</a>
                </li>
                <li><a href="/tree/" style="color: #fff; ">Family Tree View</a>
                </li>
                        <li ><a href="/logout/" style="color: #fff; ">Logout</a>    </li>
        </ul>
    </div>
</nav>
        <!---nav--->

    <div class="container">
<b > Welcome {{ user.username }} </b>
         <h1>  Add Your Family Member</h1>

 {% if messages %}

    {% for message in messages %}
       <p class='alert alert-danger alert-dismissable' style="margin-left: 16%; width: 25%;"> {{ message }}</p>
        {% endfor %}

{% endif %}


    </div>
<form class="form-horizontal" role="form" method="post" action="/addmem/">
{% for track in track %}
<input type="hidden" name="familylastname" value="{{ track.familylastname }}" id="familylastname"/>
<input type="hidden" name="uniquename" value="{{ track.uniquename }}" id="uniquename"/>
    {% endfor %}
<input type="hidden" name="username" value="{{ user.username }}" id="username"/>
  <br/><div class="form-group">
    <label class="control-label col-sm-2" >Member First Name:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  name="memberfirstname" id="memberfirstname"placeholder="Enter First Name">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Member Middle Name:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  name="membermiddlename" id="membermiddlename"placeholder="Enter Middle Name e.g: none" required>
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Member Last Name:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  name="memberlastname" id="memberlastname"placeholder="Enter Last Name">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Relationship(with you):</label>
    <div class="col-sm-3">
        <select class="form-control" name="relation" id="relation">
            <option>Select Any</option>
<option>me</option>
<option>grandfather</option>
<option>grandmother</option>
<option>father</option>
<option>mother</option>
<option>uncle</option>
<option>aunt</option>
<option>brother</option>
<option>sister</option>
<option>wife</option>
<option>unclechild</option>
<option>child</option>
        </select>
    </div>
  </div>
<div class="form-group" >
    <label class="control-label col-sm-2" >Member Age:</label>
    <div class="col-sm-3" >
      <input type="text" class="form-control" id="age" name="age" placeholder="Enter Age">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Member Birth Date:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  name="birthdate" id="birthdate"placeholder="Enter Birth Date">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Member Death Date:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  name="deathdate" id="deathdate" placeholder="Enter Death Date">
    </div>
  </div>
     <div class="form-group">
    <label class="control-label col-sm-2" >Member Caste:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  name="caste" id="caste" placeholder="Enter Caste">
    </div>
  </div>
     <div class="form-group">
    <label class="control-label col-sm-2" >Member Religion:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  name="religion" id="religion" placeholder="Enter Religion">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Member Nationality:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  name="nationality" id="nationality" placeholder="Enter Nationality">
    </div>
  </div>

    <div class="form-group">
    <label class="control-label col-sm-2" >Member Occupation:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  id="occupation" name="occupation"placeholder="Enter Occupation">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Member Education:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  id="education" name="education"placeholder="Enter Education">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Member Address:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  id="address" name="address"placeholder="Enter Address">
    </div>
  </div>
    <div class="form-group">
    <label class="control-label col-sm-2" >Member Contact No:</label>
    <div class="col-sm-3">
      <input type="text" class="form-control"  id="contact" name="contact"placeholder="Enter Number">
    </div>
  </div>


  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-info">Save Changes</button>
    </div>
  </div>
</form>
    <table class="table table-responsive table-bordered table-condensed table-stripped table-hovered">
    <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Relation</th>
        <th>Age</th>
        <th>Birth Date</th>
        <th>Death Date</th>
        <th>Caste</th>
        <th>Religion</th>
        <th>Nationality</th>
        <th>Occupation</th>
        <th>Education</th>
        <th>Address</th>
        <th>Contact</th>
        <th>Action</th>
    </tr>
     {% for data in data %}


    <tr>
        <td>{{data.memberfirstname}}</td>
        <td>{{ data.membermiddlename }}</td>
        <td>{{ data.memberlastname }}</td>
        <td>{{ data.relation }}</td>
        <td>{{ data.age }}</td>
        <td>{{ data.birthdate }}</td>
        <td>{{ data.deathdate }}</td>
        <td>{{ data.caste }}</td>
        <td>{{ data.religion }}</td>
        <td>{{ data.nationality }}</td>
        <td>{{ data.occupation }}</td>
        <td>{{ data.education }}</td>
        <td>{{ data.address }}</td>
        <td>{{ data.contact }}</td>
        <td><a href="/deletemember/{{ data.relation|urlencode }}/{{ data.id|urlencode }}" class="btn btn-danger btn-sm">Delete</a> </td>
    </tr>
 {% endfor %}
    </table>

{% else %}
<a href="/" >Login</a> |
<a href="/register/" >Register</a>
{% endif %}
</div>
<h1>{% block head %}{% endblock %}</h1>
{% block content %}{% endblock %}

<p class='alert alert-info alert-dismissable' style=" margin-top: 6%;"> Copyright &copy;2015 (Abinash Singh Thagunna)  All rights  Reserved | Developed & Designed By: Abinash Singh Thagunna(NCC ID: 00145811)</p>

</body>
</html>