<!--************************************************************************************************************************************
# Name: Abinash Singh Thagunna
# File Name: searchdetail.html
#*************************************************************************************************************************************-->
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tree Graph</title>
  <link href="{% static 'bootstrap/css/bootstrap.min.css'  %}" rel="stylesheet">
     <script src="{% static 'bootstrap/js/jquery.js'  %}" type="text/javascript"></script>
</head>
<body>
<h3 style="text-align: center;">Welcome To Geneological Tree</h3>
{% if park %}
     <table class="table table-responsive table-bordered table-condensed table-stripped table-hovered">
    <tr>
        <th>First Name</th>
        <th>Middle Name</th>
        <th>Last Name</th>
        <th>Relation</th>
        <th>Age</th>
        <th>Birth Date</th>
        <th>Death Date</th>
        <th>Caste</th>
        <th>Religion</th>
        <th>Nationality</th>
        <th>Occupation</th>
        <th>Education</th>
        <th>Address</th>
        <th>Contact</th>
    </tr>


{% for park in park %}
    <tr>
        <td>{{ park.memberfirstname }}</td>
        <td>{{ park.membermiddlename }}</td>
        <td>{{ park.memberlastname }}</td>
       <td>{{ park.relation }}</td>
        <td>{{ park.age }}</td>
        <td>{{ park.birthdate }}</td>
        <td>{{ park.deathdate }}</td>
        <td>{{ park.caste }}</td>
        <td>{{ park.religion }}</td>
        <td>{{ park.nationality }}</td>
        <td>{{ park.occupation }}</td>
        <td>{{ park.education }}</td>
        <td>{{ park.address }}</td>
        <td>{{ park.contact }}</td>
    </tr>
{% endfor %}
    </table>
    {% endif %}

<p class='alert alert-info alert-dismissable' style=" margin-top: 36%;"> Copyright &copy;2015 (Abinash Singh Thagunna)  All rights  Reserved | Developed & Designed By: Abinash Singh Thagunna(NCC ID: 00145811)</p>

</body>
</html>