<!--************************************************************************************************************************************
# Name: Abinash Singh Thagunna
# File Name: login.html
#*************************************************************************************************************************************-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>Geneological Tree</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">


     <style>
        #rcorners1 {
  border-radius: 15px 50px;
    background: #2e6da4;
    padding: 20px;
    width: 300px;
    height: auto;
    margin-left: 40%;
     margin-top: 10%;
}
    </style>
</head>
<body class="container" style="background: #73AD21;">
<h3 style="text-align: center; margin-top: 5%">Welcome To Geneological Tree Application!!!</h3>
<form method="post" action="/search/">
     <div class="form-group">
    <label class="control-label" >Family Last Name:</label>

      <input type="text" class="form-control input-sm"  name="familylastname" id="familylastname"placeholder="Enter Family Last Name" style="width: 200px;">

  </div>
    <div class="form-group">
    <label class="control-label" >Tracking Name:</label>

      <input type="text" class="form-control input-sm"  name="uniquename" id="uniquename"placeholder="Enter Tracking Name" style="width: 200px;">

  </div>
     <div class="form-group">

    <div class="col-sm-3">
      <input type="submit" class="btn btn-warning"  value="Search Now"/>
    </div>
  </div>

</form>
<div id="rcorners1">

{%extends "base.html" %}
{%block content %}
{% if form.has_errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}
<form method="post" action=".">
<p><label for="id_username" style="color: #fff;">Username:</label>
{{ form.username }}</p>
<p><label for="id_password" style="color: #fff;">Password:</label>
{{ form.password }}</p>
<input type="submit" value="Login" class="btn btn-success"/>
      <a href="/register/" class="btn btn-danger" >Signup</a>
<input type="hidden" name="next" value="/addFamilyName/" />
{% csrf_token %}
</form>
{% endblock %}
</div>


</body>
</html>